@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);
  
 :root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

img {
  border-radius: 30px;
  margin: auto;
  display: block;
}
      
.map {
  /*max-width: 70%;  Ensures the image doesn't exceed its container's width */
  text-align: center;
  width: 70%;
  height: 70%;    /* Maintains the original aspect ratio */
}

.dex {
  transform: translateX(-3.5%);
  max-width: 90%;
}

.tooltip {
    position: relative; /* Needed to position the tooltip text */
    display: inline-block;
    /*cursor: help;  Optional: adds a help cursor */
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute; 
  bottom: 110%;
  /*left: 50%; 
  transform: translateX(-50%);*/
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s ease-in-out; /* Change the duration (e.g., 0.5s) */
}

.tooltip:hover::after {
  opacity: 1;
}

.mainimg {
  max-width: 40%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Maintains the original aspect ratio */
}

.corner {
  position: fixed;
  bottom: -150px; /* Positions the element 20px from the bottom of the screen */
  left: -150px;  /* Positions the element 20px from the right of the screen */
  /* Add other styling as needed (background, padding, etc.) */
  padding: 0px;
}

.corner {
  position: fixed;
  bottom: -150px; /* Positions the element 20px from the bottom of the screen */
  left: -150px;  /* Positions the element 20px from the right of the screen */
  /* Add other styling as needed (background, padding, etc.) */
  padding: 0px;
}

.outline {
  z-index: 1000;
  transition: filter 0.3s ease;
  stroke-width: 0px;
}

.outline:hover {
    /*outline: 4px solid #96dbe9;  Example: 4px thick, solid red outline */
    outline-offset: 2px; /* Optional: Adds space between the image and the outline */
    filter: drop-shadow(0px 0px 10px #96dbe9);
    /*stroke: #96dbe9;
    stroke-width: 3px;  Outline thickness on hover */
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

/* Darkened background */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 70% black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

/* New Content Box */
.modal-content {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* Hidden State */
.hidden {
  display: none !important;
  opacity: 0;
}


body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 95%;
  justify-content: center;
  margin: 0 auto;
  font-size: calc(1rem + 0.25vh);
  text-align: center;
}

h1 {
    color: var(--heading-color);
    font-family: "Sansita One", serif;
    font-size: 2rem;
    margin-bottom: 1vh;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  max-width: 50%;
  margin: 0 auto;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  &:hover, &:focus {
      border-bottom: 3px solid currentColor;
  }
}

section {
  max-width: 68%;
  margin: 0 auto;
}

.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  strong {
    padding-bottom: 6.5%;
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

main {
  align-items: center;
}
